name: nix-cache

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

env:
  S3_ENDPOINT: ${{ vars.S3_ENDPOINT }}
  S3_BUCKET_NAME: ${{ vars.S3_BUCKET_NAME }}
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  AWS_SHARED_CREDENTIALS_FILE: /tmp/aws-credentials

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            system: x86_64-linux
          - os: macos-latest
            system: aarch64-darwin
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup cache credentials and signing key
        if: vars.S3_BUCKET_NAME != ''
        run: |
          # Setup Nix cache signing key
          echo "${{ secrets.NIX_CACHE_PRIVATE_KEY }}" > /tmp/cache-priv-key.pem
          chmod 600 /tmp/cache-priv-key.pem

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main
        with:
          extra-conf: |
            extra-substituters = s3://${{ env.S3_BUCKET_NAME }}?endpoint=${{ env.S3_ENDPOINT }}
            extra-trusted-public-keys = ${{ vars.NIX_CACHE_PUBLIC_KEY }}
            secret-key-files = /tmp/cache-priv-key.pem

      - name: Install nix-fast-build
        run: nix profile add nixpkgs#nix-fast-build

      - name: Build full flake
        run: |
          nix-fast-build \
            --flake "." \
            --systems "${{ matrix.system }}" \
            --skip-cached \
            --copy-to "s3://${{ env.S3_BUCKET_NAME }}?endpoint=${{ env.S3_ENDPOINT }}" \
            --no-nom
